* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul li {
    float:left;
    list-style: none;
    margin: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background: url(https://i.pinimg.com/vwebp/1200x/2e/e4/a2/2ee4a2504d3d90537f4857cd5e621e5f.webp);
    background-size: cover;
}

.clearfix {
    clear: both;
}

form {
    font-family: cursive;
    text-align: center;
    background: #0005;
    width: 400px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid #0001;
}

textarea {
    margin-top: 3px;
    font-family: inherit;
}

input {
    margin-top: 3px;
    font-family: inherit;
}

button {
    font-family: inherit;
}

fieldset {
    border: solid #0001;
    padding-top: 0;
    padding-bottom: 6px;
}