* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: black;
}

h1, p, h2 {
    color: gainsboro;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background: brown;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li {
    float: left;
    list-style: none;
    margin-left: 5px;
    margin-top: 3px;
}

nav {
    background: blueviolet;
    height: 25px;
}

.clearfix {
    clear: both;
}

#main-content {
    float: left;
    width: 50%;
    min-height: 500px;
    background:linear-gradient(rgb(13, 13, 89), rgb(120, 62, 72));
    padding: 5px;
}

#second-content {
    float: left;
    width: 50%;
    min-height: 500px;
    background: radial-gradient(rgb(146, 27, 27), rgb(137, 137, 29));
    padding: 5px;
}

#third-section {
    float: left;
    width: 100%;
    min-height: 500px;
    background:linear-gradient(blue, tomato);
    padding: 5px;
}

#fourth-section {
    float: left;
    width: 50%;
    min-height: 500px;
    background-color: crimson;
    padding: 5px;
}

#aside {
    float: left;
    width: 50%;
    min-height: 500px;
    background-color: rgb(12, 69, 69);
    padding: 5px;
}

video {
    width: 400px;
}

footer {
    text-align: center;
}